<palette id='1'>
  
  <version>
    71 0 
  </version>
  <styles>
    <style>
      color_0 3 255 255 255 0 
    </style>
    <style>
      color_1 3 0 0 0 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    <style>
      color 3 127 150 255 255 
    </style>
    </styles>
  <stylepages>
    <page>
      <name>
        "цвета"
      </name>
      <indices>
        0 1 2 3 4 5 6 7 8 9 10 128 129 130 131 132 133 134 135 136 137 
      </indices>
      </page>
    </stylepages>
  <shortcuts>
    9 0 1 2 3 4 5 6 7 8 
  </shortcuts>
  
</palette>
