<palette id='1'>
  
  <version>
    71 0 
  </version>
  <styles>
    <style>
      color_0 3 255 255 255 0 
    </style>
    <style>
      color_1 3 255 255 255 255 
    </style>
    </styles>
  <stylepages>
    <page>
      <name>
        "цвета"
      </name>
      <indices>
        0 1 
      </indices>
      </page>
    </stylepages>
  <shortcuts>
    -1 0 1 -1 -1 -1 -1 -1 -1 -1 
  </shortcuts>
  
</palette>
